coincurve==20
pytest
pytest-timeout
pytest-xdist
pytest-order
ragger[speculos,ledgerwallet]>=1.44.0
ragger[tests,speculos]>=1.44.0
pylint
mypy
ecdsa>=0.17.0
pycryptodome
base58
bech32
bech32m
cbor2
ledger_app_clients.ethereum
ledger_app_clients.exchange>=0.0.4
GitPython
protobuf
ruff
